.see-more-btn-container {
	display: flex;
	justify-content: center;
	margin-bottom: 64px;
	margin-top: 64px;
}

.see-more-button.projects {
	display: flex;
	width: 303px;
	height: 48px;
	padding: 0px 16px;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 2px solid #000;
	background: #FFF;
	color: #000000;
	text-align: center;
}

.see-more-button.articles {
	background-color: #000000;
	border-radius: 12px;
	border: 2px solid #FFF;
	color: #FFF;
	width: 303px;
	height: 48px;
	padding: 0px 16px;
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 128px;
	margin-top: 64px;
}

.articles-icon {
	filter: brightness(10);
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1366px) {
	.see-more-button.projects {
		margin-bottom: 64px;
		margin-top: 24px;
	}
}

/* Desktop */
@media (min-width: 1367px) {
	.see-more-btn-container {
		margin-bottom: 128px;
		margin-top: 64px;
	}

	.see-more-button.projects {
		margin-bottom: -24px;
		margin-top: -24px;
	}
}